-# TODO depricated - this is replaced by devise
.container
  %h1 Login
  = form_tag('create') do
    .row
      .col-md-1
        = label_tag :email
      .col-md-3
        = text_field_tag :email, params[:email]
    .row
      .col-md-1
        = label_tag :password
      .col-md-3
        = password_field_tag :password
    .row
      .col-md-4
        = submit_tag('Log in', class: 'btn btn-success')
