%h1 Sessions#new
%p Find me in app/views/sessions/new.html.haml
%p
  = flash.each do |key, value|
    .alert.alert-success
      %strong
        = value

  = form_tag('create') do
    %p
      = label_tag :email
      %br
      = text_field_tag :email, params[:email]
    %p
      = password_field_tag :password
      %br
      = submit_tag('Log in')
