= bootstrap_form_for :user, url: url, method: http_verb, html: {multipart: true, role: 'role'} do |f|
  = f.text_field :name
  = f.text_field :email
  -# TODO remove role from registration, this will default to client
  -#= f.select :role, User::ROLES , {include_blank: true}
  = f.password_field :password
    - if @minimum_password_length
    %em
      = @minimum_password_length
      (characters minimum)
  = f.password_field :password_confirmation
  = f.submit 'Sign Up', {class: 'btn btn-success'}
