%h1 Users#new
%p Find me in app/views/users/new.html.haml

= form_for @user do |f|
  = render 'shared/form_error', :model => @user
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  %p
    = submit_tag 'Add User'
