.container
  .row
    .col-md-offset-4.col-md-4
      %h2 Change your password
      .well.well-lg
        = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.hidden_field :reset_password_token
            = f.label :password, "New password"
            = f.password_field :password, autofocus: true, hide_label: true,  autocomplete: "off", placeholder: 'Enter your new password...'
            - if @minimum_password_length
            %em
              = @minimum_password_length
              (characters minimum)
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-enter your new password...'
            = f.submit "Change my password", {class: 'btn btn-success'}
      = render "devise/shared/links"
    .col-md-4
      = render 'shared/form_error', model: @user
      -# TODO is the need, what happens if there are no errors
      - if @user.errors.empty?
        -#= render