<div class="col-sx-12 col-sm-6 col-md-3">
  <div class="thumbnail">
    <%= link_to image_tag(client.photo.url(:medium)), client_path(client)%>
    <div class="caption">
      <h3><%= link_to client.name, client_path(client)%></h3>
      <p>
        <%= render 'clients/contact_details', :client => client %>
      </p>
      <p><%= link_to 'Show', client_path(client) %>
        <%= link_to 'Edit', edit_client_path(client) %>
        <%= link_to 'Destroy', client_path(client),
                    method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>
</div>