.col-sx-12.col-sm-6.col-md-3
  .thumbnail
    = link_to image_tag(client.photo.url(:medium)), client_path(client) 
    .caption
      %h3
        = link_to client.name, client_path(client)
      %p
        = render 'clients/contact_details', client: client
      %p
        - if current_user
          -#= link_to 'Edit', edit_client_path(client)
          %h4
            Published
            %span{class: published_yes_no(client.publish?)}
          = edit_button(edit_client_path(client))
        - if user_signed_in? && current_user.admin?
          = delete_button(client_path(client), client.name)

    
  
