.glyphicon.glyphicon-earphone
  - unless client.tel == ''
    = number_to_phone(client.tel)
  - else
    To add a number go to

  %br
%address
  .glyphicon.glyphicon-envelope
    - unless client.email == ''
      = mail_to client.email
    - else
      To add an email go to edit
  %br
  .glyphicon.glyphicon-globe
    - unless client.website == ''
      = link_to client.website
    - else
      To add a website link go to edit
  %br
  .glyphicon.glyphicon-map-marker
  - if @address == nil
    To add an address go to edit
  - else
    = @address.line1
    %br
    = @address.line2
    %br
    = @address.town
    %br
    = @address.zipcode