= bootstrap_form_for :client, url: path, method: mymethod, html: {multipart: true, role: 'form'} do |f|
  - if @client != nil
    = render 'shared/form_error', model: @client
    .container
      .col-md-6
        .form-group
          = f.text_field :name, label: 'Client name'
        = f.file_field :photo
        .thumbnail.placeholder
          = image_tag(@client.photo.url(:medium), size: '200x300', alt: 'client image')
        .form-group
          = f.email_field :email
        .form-group
          = f.telephone_field :tel
        .form-group
          = f.url_field :website
        %h2 Address
        = f.fields_for :address, @client.address do |a|
          = a.text_field :line1, label: 'First line'
          = a.text_field :line2, label: 'Second line'
          = a.text_field :town
          = a.text_field :country
          = a.text_field :zip_code
        = f.submit class: 'btn btn-success'
