<div class="form-group">
<%= form_for :client, url: clients_path, :html => {:multipart => true } do |f| %>
<%= render 'shared/form_error', :model => @client%>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.file_field :photo %><br>
      <%= f.label :email %><%= f.email_field :email%>
      <%= f.label :tel %><%= f.telephone_field :tel %>
      <%= f.label :website%><%= f.url_field :website %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
</div>