= bootstrap_form_for :client, url: path, method: mymethod, html: {multipart: true, role: 'form'} do |f|
  -# TODO this if is only needed because the form is shared between new(which does not have a client) and edit
  - if @client != nil
    = render 'shared/form_error', model: @client
    .row.well.well-sm
      .col-md-6
        = render  'business_name', f: f
      .col-md-6
        = render 'clients/help_texts/business_name_help_text'
    .row.well.well-lg
      .col-md-6
        = render 'background_image', f: f
      .col-md-6
        = render 'clients/help_texts/background_image_help_text'
    .row.well.well-sm
      .col-md-6
        = render 'form_contact_details', f: f
      .col-md-6
        = render 'clients/help_texts/contact_details_help_text'
    .row.well.well-sm
      .col-md-6
        = render 'address_fields', f: f
      .col-md-6
        = render 'clients/help_texts/address_fields_help_text'
    = f.submit 'Save Details', class: 'btn btn-success'
