<div class="form-group">
<%= form_for :client, url: clients_path, :html => {:multipart => true } do |f| %>
    <% if @client.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@client.errors.count, "error") %> prohibited
            this client from being saved:</h2>
          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li class="alert alert-danger"><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.file_field :photo %><br>
      <%= f.label :email %><%= f.email_field :email%>
      <%= f.label :tel %><%= f.telephone_field :tel %>
      <%= f.label :website%><%= f.url_field :website %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
</div>