= bootstrap_form_for :client, url: path, method: mymethod, html: {multipart: true, role: 'form'} do |f|
  -# TODO this if is only needed because the form is shared between new(which does not have a client) and edit
  - if @client != nil
    = render 'shared/form_error', model: @client
    .row.well.well-sm
      .col-md-6
        = f.label 'Brand/Business Name'
        = f.text_field :name, hide_label: true
      .col-md-6
        %em This is the name of your want to appear on your promotions.
    .row.well.well-lg
      .col-md-6
        = f.file_field :photo, label: 'Background Image'
        .thumbnail.placeholder
          = image_tag(@client.photo.url(:medium), size: '200x300', alt: 'client image')
      .col-md-6
        %em Upload an image that represents your business. This will be shown in the description of you business
    .row.well.well-sm
      .col-md-6
        %h2 Contact Details
        = f.email_field :email
        = f.telephone_field :tel
        = f.url_field :website
      .col-md-6
        %em This are the details customers will use to contact you. You should have at least one, but the more you have the better
    .row.well.well-sm
      .col-md-6
        %h2 Address
        = f.fields_for :address, @client.address do |a|
          = a.text_field :line1, label: 'First line'
          = a.text_field :line2, label: 'Second line'
          = a.text_field :town
          = a.text_field :country
          = a.text_field :zip_code
      .col-md-6
        %em This address is the location of your business and will show where you are on google maps (see below).
    = f.submit 'Save Details', class: 'btn btn-success'
