<h1>Clients#show</h1>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>
<h2>Your Promotions</h2>
<div class="promo-block">
  <% @client.promotions.each do |promotion| %>
      <div class="promo-card">
        <div class="promo-type">
         <p id="promo-text"> <%= promotion.promo_type %></p>
         <!-- <img id="promo-image" src="/assets/other-curry.jpg"><br> -->
          <%= image_tag promotion.image.url %>
        </div>
        <div class="promo-dates">
          <b>Starts: </b><%= promotion.start_date %><br>
          <b>Ends: </b><%= promotion.end_date %>
        </div>
        <div class="promo-admin">
          <div class="action edit">
        <%= link_to 'Edit',  [promotion.client, promotion] %>
          </div>
          <div class="action delete">
        <%= link_to 'Delete', [promotion.client, promotion],
                        method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div> <!-- .card -->
  <% end %>
</div>


<h2>Add a promotion:</h2>
<%= form_for([@client, @client.promotions.build], :html => {:multipart => true}) do |f| %>

    <p>
      <%= f.label :promo_type %><br>
      <%= f.text_field :promo_type %>
    </p>
    <p>
      <%= f.label :start_date %><br>
      <%= f.text_area :start_date %>
    </p>
    <p>
      <%= f.label :end_date %><br>
      <%= f.text_area :end_date  %>
    </p>
    <p>
     <p>
       <%= f.file_field :image %>
     </p>


      <%= f.submit %>
    </p>
<% end %>


<%= link_to 'Back', clients_path %>
<%= link_to 'Edit', edit_client_path(@client) %>
