<h1>Clients#show</h1>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>
<h2>Your Promotions</h2>
<div class="promo-block">
  <% @client.promotions.each do |promotion| %>
      <div class="promo-card">
        <p id="description"> <%= promotion.description %></p>
        <div class="promo-type">
          <p id="promo-text"> <%= promotion.promo_type %></p>

          <%= image_tag promotion.image.url %>
        </div>
        <div class="promo-dates">
          <b>Starts: </b><%= promotion.starts%>
          <br>
          <b>Ends: </b><%= promotion.ends %><br>
          <%= promotion.valid_days %>
        </div>
        <div class="promo-admin">
          <div class="action edit">
            <%= link_to 'Edit', [promotion.client, promotion] %>
          </div>
          <div class="action delete">
            <%= link_to 'Delete', [promotion.client, promotion],
                        method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </div>
      </div>
      <!-- .card -->
  <% end %>
</div>

<h2>Add a promotion:</h2>
<%= form_for([@client, @client.promotions.build], :html => {:multipart => true}) do |f| %>
    <h3>Describe the Promotion</h3>
    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :promo_type %>
      <%= f.text_field :promo_type %>
        

    </p>
    <p>
      <%= f.file_field :image %>
    </p>

    <h3>Enter the Dates the Promotion is valid for</h3>
    <p>
          <%= f.label :starts %>
          <%= f.date_select :starts %>

      <%= f.label :ends %>
      <%= f.date_select :ends %>
    </p>
    <p>

    <h3> Occurs Every </h3>
    <p>
          <% Promotion::WEEKDAYS.each do |d| %>
          <%= label_tag(d) %>
          <%= check_box_tag(d) %>
      <% end %>
      <br>
      <% days = ['Night', 'Day', 'Weekend'] %>
      <% days.each do |d| %>
          <%= f.label d %>
          <%= f.radio_button :valid_days, d %>
      <% end %>

      <br>
    <p>
      <%= f.label :from %>
      <%= f.time_select :from %>
      <%= f.label :to %>
      <%= f.time_select :to %>
    </p>
    <h3>Activate Promotion</h3>
    <p>
      <%= f.label :active %>
      <%= f.check_box :active %>

    </p>
    <p>
          <%= f.submit %>
        </p>
<% end %>


<%= link_to 'Back', clients_path %>
<%= link_to 'Edit', edit_client_path(@client) %>
