<h1>Clients#show</h1>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>
<h2>Your Promotions</h2>
<div class="promo-block">
  <% @client.promotions.each do |promotion| %>
       <%= render 'promotions/card', :promotion => promotion %>
        <div class="promo-admin">
          <div class="action edit">
            <%= link_to 'Edit', [promotion.client, promotion] %><br>
          </div>
          <div class="action delete">
            <%= link_to 'Delete', [promotion.client, promotion],
                        method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </div>
  <% end %>
</div>

<h2>Add a promotion:</h2>
<%= render 'promotions/form' %>

<%= link_to 'Back', clients_path %>
<%= link_to 'Edit', edit_client_path(@client) %>
