.jumbotron
  %h1
    = @client.name
  .container
    .row
      .col-lg-6.col-md-6
        - msg = 'Promoters image'
        - if @client.photo_file_name == nil
          - msg = 'There is no image, to edit to upload one'
        .thumbnail
          = image_tag @client.photo.url(:medium), alt: msg
      .col-lg-6.col-md-6
        %p
          = render 'clients/contact_details', client: @client
      -#.col-lg-6.col-md-6 #map-canvas
.container_fluid
  = render 'promotions/card_grid', promotions: @client.promotions
-# TODO is the if needed, it is only checking the user is logged in? where are the permissions for this page
- if current_user
  = link_to 'Add Promotion', new_client_promotion_path(@client.id), {class: "btn btn-success"}
= link_to 'Edit', edit_client_path(@client), {class: 'btn btn-primary'}
