<h1>Clients#show</h1>
<%= link_to 'Add Promotion', new_client_promotion_path(@client.id), {class: "btn btn-default"} %>
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>
<h2>Your Promotions</h2>
<div class="container_fluid">
  <div class="row">
  <% @client.promotions.each do |promotion| %>
       <%= render 'promotions/card2', :promotion => promotion, :client => @client %>
  <% end %>
  </div>
</div>
<%= link_to 'Back', clients_path %>
<%= link_to 'Edit', edit_client_path(@client) %>
