<p class="availability">
  <span class=<%= day_on_off promotion.mon %>>M</span>
  <span class=<%= day_on_off promotion.tue %>>Tu</span>
  <span class=<%= day_on_off promotion.wed %>>W</span>
  <span class=<%= day_on_off promotion.thu %>>Th</span>
  <span class=<%= day_on_off promotion.fri %>>F</span>
  <span class=<%= day_on_off promotion.sat %>>Sa</span>
  <span class=<%= day_on_off promotion.sun %>>Su</span>
</p>