.panel.panel-primary
  .panel-body
    .row
      .thumbnail.col-md-11.col-md-offset-1
        = link_to image_tag(promotion.image.url(:medium)), [promotion.client, promotion]
    .row.lead
      .col-md-11.col-md-offset-1
        = link_to promotion.description, [promotion.client, promotion]
        = promotion.promo_type
        %i
        .glyphicon.glyphicon-star
    .row
      =   promotion.details + 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit'
    .row.text-center
      = render 'promotions/availability', promotion: promotion
    .row.text-left.text-primary.lead
      .col-md-11.col-md-offset-1
        %i
        .glyphicon.glyphicon-earphone
        = promotion.client.tel
    .row.lead.glyph-feature
      .col-md-11.col-md-offset-1
        %i
        .glyphicon.glyphicon-map-marker
        10 The Test Rd, Gibraltar
