<div class="container_fluid">
    <div class="jumbotron">
      <h1><%= @client.name %></h1>
      <div class="container" >
        <div class="row">
          <div class="col-lg-6 col-md-4">
            <%= image_tag @client.photo.url(:medium) %>
            <p>
              <%= render 'clients/contact_details', :client => @client %>
            </p>
          </div>
          <div class="col-lg-6 col-md-4">
              <%= render 'promotions/card2', :promotion => @promotion, :client => @client %>
          </div>
        </div>
      </div>
    </div>
  <h4><span class="badge"><h5>Has <%= @client.promotions.length %> promotions</h5></span></h4>
  <%= render 'card_grid', :promotions => @client.promotions %>
</div>
