<nav class="navbar navbar-default" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <%= render 'layouts/navbar_header' %>
  <ul class="nav navbar-nav">
    <li> <%= form_tag search_fuzzy_path, method: :get, :class => "navbar-form", :role => "search" do %>
          <%= text_field_tag 'keyword', nil, {class: "form-control", placeholder: "search"} %>
          <%= submit_tag 'search', {class: 'hidden_button', id: "submit_search"} %>
      <% end %>
    </li>
  </ul>
  <%= render 'layouts/navbar_collapse' %>
</div>
<!-- /.container-fluid -->
</nav>