!!! 5
%html
  %head
    %link(href="bootstrap.css" rel="stylesheet")
    %link(href="styles.css" rel="stylesheet")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title PromoDemo
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if flash.notice
      .alert.alert-success
        %strong
          = flash.notice
    - if flash.alert
      .alert.alert-danger
        %strong
          = flash.alert

    = render '/layouts/top_nav_bar'
    = yield
    :javascript
      var elements = document.getElementsByClassName("description")
      var descriptions = []
      for(i=0; i < elements.length; i++) {
        var element = elements[i]
        var text = elements[i].innerHTML;
        text = text.trim();
        descriptions.push(text);
        console.log(text.substr(0,5));
        elements[i].innerHTML = text.substr(0,10) + " " + "<a href='#'onclick='showMe(" + i + ")'>...</a>";
      }
      function showMe(index) {
        elements[index].innerHTML = descriptions[index];
      }

