<!DOCTYPE html>
<html>
<head>
  <link href="bootstrap.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PromoDemo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= if flash.notice %>
    <div class="alert alert-success">
      <strong> <%= flash.notice %></strong>
    </div>
<%= end %>


<%= render '/layouts/top_nav_bar' %>

<%= yield %>

</body>
</html>
